{% extends 'NavBar.html' %}

{% block title %}Blossom's Hospital{% endblock %}

{% block content %}
  <!---------------------------------Banner Section----------------------------------->
  <section id="banner">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-md-6 mx-auto">
          <h1 class="promo-title display-4 fw-bold">BLOSSOM'S INCUBATOR SYSTEM</h1>
          <p class="quote lead">" Healing is a Journey, and at Every Step, We Blossom into the Strength, Hope, and
            Wellness We Deserve "</p>
        </div>
      </div>
    </div>
    <img src="../static/Media/wave1.png" alt="Decorative Wave" class="bottom-img img-fluid">
  </section>



{% endblock %}
